.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  font-size: 28px;
  display: flex;
  gap: 10px;
}
.link {
  color: yellow;
}

.icon {
  color: rgb(167, 167, 34);
}
